body {
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    font-weight: 200;
    background-color: #dddddd;
}

/* nav */

nav {
    width: 100%;
}
a {
    color: #F3E8EE;
    text-decoration: none;
}
.encabezado a:hover {
    color: #429e69;
}
.img-logo {
    width: 8em;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.encabezado {
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #2E2C2F;
}
.encabezado nav {
    max-width: 1440px;
}
.list-navbar {
    list-style: none; 
    width: 40%;
    font-size: 1.2em;
}
.list-navbar li:last-child {
    background-color: #429e69;
    padding: 10px;
    border-radius: 5px;
    transition: 100ms;
}
.list-navbar li:last-child:hover {
    transform: scale(1.05);
    background-color: #F3E8EE;
}
#toggle-menu {
    display: none;
}
.toggle-menu-img {
    width: 40px;
    margin-top: 10px;
    filter: invert();
    display: none;
}

/* header`s media query */

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .encabezado {
        padding: 10px 0px;
    }
    .list-navbar {
        position: absolute;
        background-color: #2E2C2F;
        flex-direction: column;
        top: 200px;
        right: 0;
        width: 100%;
        height: calc(100vh - 200px);
        z-index: 9999;
        display: none;
    }
    #toggle-menu:checked + .list-navbar {
        display:flex;
    }
    .toggle-menu-img {
        display: flex;
    }
}

/* first section */

.section-flex-container {
    background-color: #ffffff;
    justify-content: space-around;
    width: 70%;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 80px 60px 80px;
}
.home-section{
    display: flex;
    justify-content: space-around;
}
.section-flex-container .info-container {
    width: 45%;
}
.section-flex-container .img-container {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.presentacion-bar-img {
    width: 90%;
    max-width: 900px;
}
.info-container h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 3em;
    font-weight: 900;
    color: #d78e0c;
}
.buttons {
    width: max-content;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 25px;
    border: none;
}
.first-button {
    background-color: #d78e0c;
    border: solid #d78e0c 2px;
}
.first-button:hover {
    background-color: #2E2C2F;
    border: solid #2E2C2F 2px;
}
.second-button {
    background-color: #429e69;
    border: solid #d78e0c 2px;
}
.second-button:hover {
    background-color: #126a37;
    border: solid #126a37 2px;
}

/* second section */

.section-flex-container p {
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
}

/* first section media query */

@media (max-width: 768px) {
    .section-flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 85%;
        padding: 10px;
    }
    .section-flex-container .info-container {
        width: 90%;
        padding: 10px;
        margin: auto;
    }
    .section-flex-container .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    .section-flex-container p:first-child {
        padding-top: 30px;
    }
    .section-flex-container p:nth-child(2) {
        padding-bottom: 30px;
    }
    .presentacion-bar-img {
        width: 90%;
        height: 80%;
    }
    .buttons {
        margin: 5px;
    }
}
/* third section */

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-container h2 {
    font-size: 2em;
    margin-top: 0;
}
.work-container h4 {
    padding-bottom: 20px;
}
.benefits-container {
    width: 30%;
}
.benefits-container h4 {
    font-weight: 700;
}
.benefits-container img{
    width: 50%;
}
.steps-container {
    width: 20%;
}
.steps-container img{
    width: 30%;
}

/* third section media query */

@media (max-width: 768px) {
    .benefits-container, .steps-container {
        width: 85%;
        padding: 15px;
    }
    .work-container h3 {
        margin-top: 15px;
    }
}

/* fourth section */

.cards-empresas {
    width: 80%;
}
.card {
    width: 10em;
    height: 10em;
    box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    transition: transform 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card:hover {
    transform: scale(1.05);
}
.clientes-img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    cursor: pointer;
}

/* fourth section media query */

@media (max-width: 425px) {
    .container-cards {
        width: 90%;
        padding-bottom: 20px;
    }
    .card {
        width: 80%;
    }
}

/* footer */

footer {
    background-color: #2E2C2F;
    color: #ffffff;
    margin-bottom: 0;
    padding: 60px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-section {
    width: 60%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h4 {
    font-size: 2em;
}
.footer-img-container {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.footer-img-container img {
    width: 50%;
    max-width: 300px;
}
.info-footer {
    width: 50%;
}
.info-footer a:hover {
    color: #429e69;
}

/* media footer */

@media (max-width: 768px) {
    footer {
        padding: 10px 30px 10px 30px;
        text-align: center;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .footer-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-img-container img {
        width: 80%;
    }
    .footer-section {
        width: 90%;
    }
    .info-footer {
        width: 100%;
    }
}

/* log in-Sign in */

.section-login-container {
    background-color: #ffffff;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 80px 60px 80px;
}
.section-login-container div:first-child {
    width: 45%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}
.section-login-container div:nth-child(2) {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: right;
}
.thejunglebarLogo {
    width: 100%;
    height: 100%;
    min-width: 200px;
}
.datos-login-container input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #2E2C2F;
}
.datos-login-container input::placeholder {
    color: #999999;
}
.datos-login-container button {
    padding: 10px;
    margin: 10px 5px 10px 5px;
    border: none;
    border-radius: 20px;
    color: #2E2C2F;
    background-color: #429e69;
}
.datos-login-container button:hover {
    background-color: #126a37;
}
@media (max-width: 768px) {
    .section-login-container {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 10px;
    }
    .section-login-container div:first-child {
        width: 90%;
        padding: 10px;
        margin: auto;
        order: 2;
    }
    .section-login-container div:nth-child(2) {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 20px 0;
        margin: auto;
        order: 1;
    }
}

/* tragos section */

.cards-tragos {
    width: 90%;
}
.trago {
    width: 25%;
    min-width: 226px;
    box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    transition: transform 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trago:hover {
    transform: scale(1.05);
}
.tragos-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-size: cover; */
}
.trago button {
    padding: 10px;
    margin: 5px;
    background-color: #d78e0c;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}
.trago h5 {
    font-size: 1.3em;
}
.trago button:hover {
    transform: scale(1.05);
}
@media (max-width: 425px) {
    .cards-tragos {
        width: 100%;
    }
    .trago h5 {
        font-size: 1em;
    }
}